body{
    background-color: rgb(246,248,252);
    margin: 0;
    padding: 0;
}

.body-img{
    position: fixed;
    top:40px;
    left: 40px;
    height: 600px;
    width: 600px;
    z-index: -5;
}

header{
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
    height: 100px;
    width: 600px;
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

footer{
    background-color: white;
    border-radius: 10px;
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.div-shadow{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-align{
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
}


