.padding-content{
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.PokedexEntry{
    height: 450px;
    width: 300px;
    background-color: white;
    margin: 10px;
}

h2{
    font-weight: 600;
    text-decoration: underline;
}

.entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pokemon-id{
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    height: 25px;
    width: 17px;
    margin-left: 10px;
    padding-left: 5px;
}

.bb{
    height: 100px;
    width: 100px;
    background-color: aqua;
}