.padding-content{
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.PokedexEntry{
    width: 250px;
    background-color: white;
    margin: 10px;
}

h2{
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    text-transform: uppercase;
}

.entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pokemon-id{
    font-size: 15px;
    margin-block-start: 3px;
    margin-block-end: 3px;
}

.p-pokedex{
    width: fit-content;
    color: rgb(255, 255, 255);
}


.bb{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

/*position: relative;
top: -187px;
left: 80px;
}*/